# Visual Studio cahce/build files
.vs/
*.suo
*.user
*.sln.doccache

# Build output
x64/
x86/
Debug/
Release/
bin/
obj/

# Selective extensions
*.pdb
*.ilk
*.idb
*.tlog
*.recipe
*.log
*.lastbuildstate
*.items.tlog

# Force unignore
!/dll/*.dll